*{
    padding: 0%;
}
.maindiv{
    display: flex;
    flex-direction: row;
    padding: 25px;


}
.div1
{
    text-align: center;
    background-color: rgb(249, 231, 153);
    width: 25rem;
    height: 25rem;
    border-color: rgb(36, 36, 103);
    
}
.div2
{
    border-radius: 25px;
    
    width: fit-content

}
#Image
{
    
    border-radius: 50%;
}