body {
  font-family: Arial, sans-serif;
  background-color: #d6f3f5;
  margin: 0;
  padding: 20px;
}


.title {
  text-align: center;
  margin-bottom: 30px;
}

.pricing-container {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.plan h2 {
  margin: 0;
}

.price {
  font-size: 24px;
  font-weight: bold;
  margin: 15px 0;
}

.plan ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.plan ul li {
  margin: 8px 0;
}

.btn {
  margin-top: 15px;
  display: inline-block;
  padding: 10px 20px;
  background: #007bff;
  color: white;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover {
  background: #0056b3;
}

.plan1 {
  background: #9bdde0;
  border: 1px solid #ccc;
  width: 250px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.plan2 {
  background: #b3e5f1;
  border: 1px solid #ccc;
  width: 250px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.plan3 {
  background: #aedce8;
  border: 1px solid #ccc;
  width: 250px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}