.logo {
     box-shadow: 0 0 0 1px rgba(0,0,0,.15),
        0 2px 3px 0 rgba(0,0,0,.1);
}

nav{
   height: 4rem;
    background-color: #ff9b90f1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.topnav{
  display: flex;
}
.topnav li{
  margin: 20px;
}

nav ul{
   
    overflow: hidden;
    margin: 0;
    padding: 0;
}
ul li a{
    text-decoration: none;
    color: white;
}

ul li a:hover{
    color: aqua;
    text-decoration: none;
    transition: 0.3s;
}

ul.topnav li {
    list-style: none;
    float: left;
    display: flex;
    
}

ul.topnav li.topnav-right {
    float: right;
}

.foot{
    background-color: #db5151;
    text-align: center;
    line-height: normal;
    padding-top: 2px;
}

body {
      background-color: #f3e0e0; 
      font-family: Arial, sans-serif;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: center;
    }
    th, td {
      border: 1px solid black;
      padding: 10px;
    }
    th {
      background-color: #a56b3b; 
      color: black;
      font-weight: bold;
    }
    td {
      background-color: #e4b9a0;
    }
    .sidebar {
      width: 150px;
      text-align: left;
      background-color: #b9b6b6;
      font-weight: bold;
    }
    .content {
      background-color: #7d6e6e;
      text-align: center;
      font-size: 18px;
    }

    #name {
      color: #71145b; 
      font-size: 36px;
      font-weight: bold;
      text-align: center;
      margin: 20px 0;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }


    #hr1, #hr2 {
      border: 0;
      height: 2px;
      background-color: #0c0d0d; 
      margin: 10px 0;
    }
    table td a{

    text-decoration: none;
    color: rgb(12, 11, 11);
    }
table li{
    margin: 20px;
  
    list-style: none;
}    
table td a:hover{
    color: aqua;
    text-decoration: none;
    transition: 0.3s;
}
label {
  display: inline-block;
  width: 120px;        /* fixed width for proper alignment */
  text-align: right;   /* text aligned to right side */
  margin-right: 10px;
  font-weight: bold;
}

input {
  width: 200px;
  height: 25px;
  border: 2px solid black;
  padding-left: 5px;
}

.btn {
  padding: 8px 20px;
  margin: 10px;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}

.submit {
  color: brown;
  background: white;
  box-shadow: 3px 3px 0 black; /* raised effect */
}

.reset {
  color: brown;
  background: white;
}
