body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3e0e0;
}

table {
  width: 90%;
  margin: 0 auto 30px;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid #000;
  padding: 10px;
}

th {
  background-color: #a56b3b;
  color: black;
}

td {
  background-color: #e4b9a0;
}

td img {
  width: 80px;
}

table td a {
  text-decoration: none;
  color: #0c0b0b;
  transition: color 0.3s;
}

table td a:hover {
  color: aqua;
  text-decoration: none;
  transition: 0.3s;
}

.cart-btn {
  background-color: #e8df3a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cart-btn:hover {
  background-color: #e0f44c;
}

@media screen and (max-width: 768px) {
  table, tr, th, td {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 15px;
  }

  th {
    text-align: left;
    background-color: #a56b3b;
    color: white;
  }

  td {
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  td img {
    margin-bottom: 10px;
  }
}
