body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3e0e0;
}

    table {
      width: 100%;
      border-collapse: collapse;
      text-align: center;
    }
    th, td {
      border: 1px solid black;
      padding: 10px;
    }
    th {
      background-color: #a56b3b; 
      color: black;
      font-weight: bold;
    }
    td {
      background-color: #e4b9a0;
    }
    .sidebar {
      width: 150px;
      text-align: left;
      background-color: #b9b6b6;
      font-weight: bold;
    }
    .content {
      background-color: #7d6e6e;
      text-align: center;
      font-size: 18px;
    }

    table td a{

    text-decoration: none;
    color: rgb(12, 11, 11);
    }
table li{
    margin: 20px;
  
    list-style: none;
}    
table td a:hover{
    color: aqua;
    text-decoration: none;
    transition: 0.3s;
}
label {
  display: inline-block;
  width: 120px;        
  text-align: right;   
  margin-right: 10px;
  font-weight: bold;
}

input {
  width: 200px;
  height: 25px;
  border: 2px solid black;
  padding-left: 5px;
}

.btn {
  padding: 8px 20px;
  margin: 10px;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}

.submit {
  color: brown;
  background: white;
  box-shadow: 3px 3px 0 black; 
}

.reset {
  color: brown;
  background: white;
}
