body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3e0e0;
}

table {
  width: 90%;
  margin: 0 auto 30px;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  border: 1px solid #000;
  padding: 10px;
}

th {
  background-color: #a56b3b;
  color: black;
}

td {
  background-color: #e4b9a0;
}

td img {
  width: 80px;
}

table td a {
  text-decoration: none;
  color: #0c0b0b;
  transition: color 0.3s;
}

table td a:hover {
  color: aqua;
  text-decoration: none;
  transition: 0.3s;
}

.sidebar a {
    margin: 10px 0;
    padding: 8px 15px;
    text-decoration: none;
    color: #0c0b0b;
    transition: color 0.3s;
    display: block;
}

.cart-btn {
  background-color: #e8df3a;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cart-btn:hover {
  background-color: #e0f44c;
}

@media screen and (max-width: 768px) {
  table, tr, th, td {
    display: block;
    width: 100%;
  }

  tr {
    margin-bottom: 15px;
  }

  th {
    text-align: left;
    background-color: #a56b3b;
    color: white;
  }

  td {
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  td img {
    margin-bottom: 10px;
  }
}

 .cart {
    margin-left: 5rem;
    width: 50rem;
    border-collapse: collapse;
}
.cart tr:last-child {
    background-color: #d1a374;
    font-weight: bold;
}

---------- Registration Page Styling ----------
.content {
  text-align: left;
  padding: 30px 60px;
  background-color: #fbe9d8;
}

.content label {
  display: block;
  font-weight: bold;
  color: #3b2a1a;
} 

.content input[type="text"],
.content input[type="password"],
.content input[type="email"],
.content select,
.content textarea {
  padding: 10px;
  border: 1px solid #a56b3b;
  border-radius: 6px;
  margin-top: 6px;
  background-color: #fff8f3;
  
}
 
.content input[type="radio"],
.content input[type="checkbox"] {
  margin-right: 6px;
}

.content textarea {
  resize: none;
  height: 90px;
}

.content input[type="submit"] {
  background-color: #04040d;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 25px;
  transition: background-color 0.3s;
  font-size: 15px;
}

.content input[type="submit"]:hover {
  background-color: #875c2b;
} 
