*{
    padding: 0%;
}
.maindiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 25px;
    justify-content: center;
}

.div1
{
    text-align: center;
    border-radius: 25px;
    background-color: rgb(220, 245, 255);
    width: 25rem;
    height: 25rem;
    border-color: rgb(36, 36, 103);
    padding: 25px;
    margin: 40px;
}
.div2
{
    border-radius: 25px;
    text-align: center;
    width: 25rem;
    height: 25rem;
    padding: 25px;
    background-color: rgb(243, 220, 255);
    margin: 40px;


}

.div3
{
    text-align: center;
    border-radius: 50%;
    background-color: rgb(220, 245, 255);
    width: 25rem;
    height: 25rem;
    border-color: rgb(36, 36, 103);
    padding: 25px;
    margin: 40px;
}
.div4
{
    border-radius: 50%;
    text-align: center;
    width: 25rem;
    height: 25rem;
    padding: 25px;
    background-color: rgb(243, 220, 255);
    margin: 40px;
    padding: 25px;

}

.maindiv2{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 25px;
}