body{
    display: flex;
    border: 2px solid black;
    justify-content: space-evenly;
    min-height: 800px;
    align-items: center;
    flex-direction: row;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: rgb(187, 255, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 77, 0);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box4{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 200);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box5{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 47);
    display: flex;
    align-items: center;
    justify-content: center;
}
.box6{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 230, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.box7{
    width: 200px;
    height: 200px;
    background-color: rgb(55, 0, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}