body{
    display: flex;
    border: 2px solid black;
    justify-content: space-between;
}
.box1{
    width: 200px;
    height: 200px;
    background-color: aqua;
}
.box2{
    width: 200px;
    height: 200px;
    background-color: rgb(187, 255, 0);
}
.box3{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 77, 0);
}
.box4{
    width: 200px;
    height: 200px;
    background-color: rgb(255, 0, 200);
}
.box5{
    width: 200px;
    height: 200px;
    background-color: rgb(0, 255, 47);
}